<div class = "card">
  <div class = "card-header">
  <h4><%= link_to "Appointment №" + appointment.id.to_s, appointment %></h4>
  </div>
  <div class = "card-body">
    <p><b>Patient: </b><%= appointment.patient.name %></p>
    <p><b>Doctor: </b><%= appointment.doctor.name %></p>
    <p><b>Recomendation: </b><%= appointment.recomendation %></p>
    <% if current_user.admin_role?%>
      <p><h3><%= appointment.status%></p></h3>
    <% end %>
  </div>
</div>
